<h1>Listing cages</h1>

<table>
  <thead>
    <tr>
      <th>Max capacity</th>
      <th>Power</th>
      <th>Contained</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cages.each do |cage| %>
      <tr>
        <td><%= cage.max_capacity %></td>
        <td><%= cage.power %></td>
        <td><%= cage.contained %></td>
        <td><%= link_to 'Show', cage %></td>
        <td><%= link_to 'Edit', edit_cage_path(cage) %></td>
        <td><%= link_to 'Destroy', cage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cage', new_cage_path %>
