<p id="notice"><%= notice %></p>

<p>
  <strong>Max capacity:</strong>
  <%= @cage.max_capacity %>
</p>

<p>
  <strong>Power:</strong>
  <%= @cage.power %>
</p>

<p>
  <strong>Contained:</strong>
  <%= @cage.contained %>
</p>

<%= link_to 'Edit', edit_cage_path(@cage) %> |
<%= link_to 'Back', cages_path %>
